/*
NTC Account Factory will inject the following input vars inside the Terraform account baseline:

var.current_region (string)
var.main_region (string)
var.is_current_region_main_region (bool)

These variables can be used inside the terraform baseline contents to decide which resources should only be deployed in a single region.

EXAMPLE: 
The same IAM role cannot be created in each region because IAM is a global service.
Instead the IAM role should only be created in the main region and in every other region a data source should be used to get the role ARN.
*/

# ---------------------------------------------------------------------------------------------------------------------
# ¦ DATA
# ---------------------------------------------------------------------------------------------------------------------
data "aws_region" "default" {}
data "aws_caller_identity" "current" {}

# ---------------------------------------------------------------------------------------------------------------------
# ¦ LOCALS
# ---------------------------------------------------------------------------------------------------------------------
locals {
  instance_iam_role_arn = (
    var.is_current_region_main_region
    ? aws_iam_role.instance[0].arn
    : data.aws_iam_role.instance[0].arn
  )
}

# ---------------------------------------------------------------------------------------------------------------------
# ¦ BASELINE FOR MAIN REGION & GLOBAL RESOURCES
# ---------------------------------------------------------------------------------------------------------------------
data "aws_iam_policy_document" "instance_assume_role_policy" {
  # IAM roles are global and can only be created in a single baseline region
  count = var.is_current_region_main_region ? 1 : 0
  statement {
    actions = ["sts:AssumeRole"]

    principals {
      type        = "Service"
      identifiers = ["ec2.amazonaws.com"]
    }
  }
}

resource "aws_iam_role" "instance" {
  # IAM roles are global and can only be created in a single baseline region
  count = var.is_current_region_main_region ? 1 : 0

  name               = "instance_role"
  path               = "/system/"
  assume_role_policy = data.aws_iam_policy_document.instance_assume_role_policy[0].json
}

# ---------------------------------------------------------------------------------------------------------------------
# ¦ BASELINE FOR ALL OTHER REGIONS
# ---------------------------------------------------------------------------------------------------------------------
data "aws_iam_role" "instance" {
  # get IAM role which was created in the main region
  count = var.is_current_region_main_region ? 0 : 1

  name               = "instance_role"
}

resource "aws_vpc" "baseline" {
  cidr_block       = "${vpc_cidr}"
  instance_tenancy = "default"

  tags = {
    Name = format("vpc-baseline-%s", var.current_region)
  }
}
